.textContainer {
	color: red;
	/* background-image: url("/js/common/iphonegears.jpg"); */
	background: url("../../../assets/img/iphonegears.jpg") center no-repeat border-box fixed yellow;
	background-size: cover;
}

.textContainer h1 {
	color: green;
}

.textContainer .content {
	padding-left: 1rem;
	padding-right: 1.5rem;
	padding-bottom: 1rem;
	font-size: 1em;
	color: darkblue;
	border: 1px dotted black;
}