.home {
	color: darkblue;
	padding-left: 1rem;
}

.home a {
	text-decoration: none;
	color: #0d5aae;
}

.home h4 {
	color: #0d5aae;
}

.msg {
	font-size: 1.3em;
	font-weight: 200;
	line-height: 1.3;
}