.playlist {
	color: black;
}

.text-container {
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 1%;
	margin-top: 1%;
}

h4 {
	display: inline-block;
}

.song {
	font-weight: bolder;
	color: #ff6699;
}