.search {
	padding-left: 1rem;
}

.search h1 {
	color: green;
}

.search h3 {
	display: inline-block;
	color: blue;
}

.search input[type=text] {
	border: 1px dotted black;
}

.search span {
	text-decoration: underline overline;
}